.calc {
  border: $color-screen 0.1rem solid;
  border-radius: 0.15rem;
  @include absCenter;
  display: grid;
  margin: auto;
  background-color: $color-body;
  grid-template-rows: 15rem repeat(5, 10rem);
  grid-template-columns: repeat(4, 10rem);
  gap: 1.5rem;
  padding: 1.5rem;
  align-content: center;
  justify-content: center;
  grid-template-areas:
    "screen screen screen screen"
    "clear undo negative divide"
    "seven eight nine multiply"
    "four five six subtract"
    "one two three add"
    "zero zero decimal equals";

  &__screen {
    grid-area: screen;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: $color-screen;
    font-family: "alarm_clockregular";
    color: $color-digits;

    &--previous {
      padding-top: 2.5rem;
      &Text {
        text-align: left;
        font-size: 2rem;
      }
    }
    &--current {
      &Text {
        font-size: 5rem;
        text-align: right;
      }
    }
  }

  &__function {
    background-color: $color-function;
  }

  &__number {
    background-color: $color-number;
  }

  &__operate {
    background-color: $color-operate;
  }
}
