@font-face {
  font-family: "alarm_clockregular";
  src: url("../fonts/alarm_clock-webfont.woff2") format("woff2"),
    url("../fonts/alarm_clock-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
